/* login.component.css */
.bg-image {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    // z-index: 1;

    background-image: url('../../../assets/image-122619-b-1.jpg'); /* Place image in assets folder */
    background-size: cover;
    background-position: center;
   
  }



  /* Ensure content like login card appears above overlay */
.card-container {
    position: relative;
    // z-index: 3;
  }
  

  /* Responsive padding */
@media (max-width: 576px) {
    .card {
      padding: 1.5rem !important;
    }
  
    .bg-image {
      padding: 1rem;
    }
  }